<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>应用分析</title>
	<link rel="stylesheet" href="../resources/css/lib/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/common.css">
	<link rel="stylesheet" href="../resources/css/advanced.css">
</head>
<body>
<!-- 此处header是公用模块，前端没办法提成公用，可以用后台语言提取公用部分 -->
<header class="hd g-clearfix">
	<a class="logo" href="./home.html"></a>
	<a class="nav-btn log-out"><div class="btn-i">注销</div></a>
	<a class="nav-btn user"><div class="btn-i"><img class="avatar" src="../resources/img/avatar.png" alt="" />admin</div></a>
	<a class="nav-btn statistics" href="./statistics.html"><div class="btn-i">统计分析</div></a>
	<a class="nav-btn analysis" href="#"><div class="btn-i">应用分析</div></a>
</header>
<ol class="breadcrumb">
	<li><a href="./home.html">主页</a></li>
	<li><a>应用安全分析</a></li>
	<li class="active">分析详情</li>
</ol>
<!-- <div>
	<ul class="nav nav-tabs nav-head" role="tablist">
	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	</ul>

	<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="home">1</div>
	<div role="tabpanel" class="tab-pane" id="profile">2</div>
	<div role="tabpanel" class="tab-pane" id="messages">3</div>
	<div role="tabpanel" class="tab-pane" id="settings">4</div>
</div> -->

</div>
<section class="bd">
	<div class="brief">
		<div class="app-img-wrap">
			<img class="app-img" src="../resources/img/aqylogo.png" alt="">
			<p class="app-name">爱奇艺</p>
		</div>
		<div class="app-brief">
			<div class="app-bri-item app-v-wrap">应用版本<span class="app-txt version-txt">1.8.0</span></div>
			<div class="app-bri-item app-s-wrap">应用大小<span class="app-txt size-txt">12.22MB</span></div>
			<div class="app-bri-item app-r-wrap">安全指纹结果</div>
			<div class="app-chart-wrap">
				<div id="container"></div>
			</div>
		</div>
		<div class="panel panel-default d-auth-l">
			<div class="panel-heading">
				危险权限列表
			</div>
			<div class="panel-body">
				<ul class="d-auth-list">
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="detail">
		<section class="det-header g-clearfix">
			<div class="bug-i-wrap h-wrap">
				<h5>共检测出<span>7<span>个漏洞</h5>
				<ul class="h-img-list g-clearfix">
					<li class="img-item">高危漏洞<span>4</span></li>
					<li class="img-item">高危漏洞<span>4</span></li>
					<li class="img-item">高危漏洞<span>4</span></li>
				</ul>
			</div>
			<div class="problem-i-wrap h-wrap">
				<h5>总共检测出恶意行为<span>7<span>个</h5>
				<ul class="h-img-list g-clearfix">
					<li class="img-item">高危问题<span>4</span></li>
					<li class="img-item">高危问题<span>4</span></li>
					<li class="img-item">高危问题<span>4</span></li>
				</ul>
			</div>
		</section>
		<section class="det-content">
			<div>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-head adv-nav" role="tablist">
				<li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">*不良内容</a></li>
				<li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">*数据存储安全</a></li>
				<li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">*数据运行安全</a></li>
				<li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">*数据传输安全</a></li>
				<li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">*敏感行为</a></li>
				<li role="presentation"><a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">*漏洞扫描</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active tab-pane-wrap" id="tab1">
						<section class="tab-pane-s pro-pie-wrap">
								<div class="panel panel-default b-c-panel">
									<div class="panel-heading">
										<i class="icon icon-save"></i>
										<i class="icon icon-refresh"></i>
										<i class="icon icon-catalog"></i>
									</div>
									<div class="panel-body">
										<div id="container1" class="container"></div>
									</div>
								</div>
						</section>
						<section class="tab-pane-s all-pro-tabs">
							<div>

							<!-- Nav tabs -->
							<ul class="nav nav-tabs nav-head" role="tablist">
							<li role="presentation" class="active"><a href="#tab11" aria-controls="tab11" role="tab" data-toggle="tab">*全部问题</a></li>
							<li role="presentation"><a href="#tab12" aria-controls="tab12" role="tab" data-toggle="tab">*高危问题</a></li>
							<li role="presentation"><a href="#tab13" aria-controls="tab13" role="tab" data-toggle="tab">*中危问题</a></li>
							<li role="presentation"><a href="#tab14" aria-controls="tab14" role="tab" data-toggle="tab">*低危问题</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active tab-pane-wrap" id="tab11">
									<table class="table table-striped bd-table">
									  	<thead> 
									  		<tr>
									  			<th>序号</th> 
									  			<th>问题概要</th> 
									  			<th>问题描述</th> 
									  			<th>证据截图</th> 
									  			<th>危害等级</th> 
									  		</tr> 
									  	</thead> 
									  	<tbody> 
									  		<tr> 
									  			<td scope="row">1</td> 
									  			<td>淫秽色情</td> 
									  			<td>淫秽色情淫秽色情淫秽色情淫秽色情淫秽色情</td> 
									  			<td><img src="" alt=""></td> 
									  			<td>
									  				<button type="submit" class="btn btn-danger">高危</button>
									  			</td> 
									  		</tr> 
									  		
									  	</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab12">2</div>
								<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab13">3</div>
								<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab14">4</div>
							</div>

						</div>
						</section>
					</div>
					<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab2">2</div>
					<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab3">3</div>
					<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab4">4</div>
					<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab5">5</div>
					<div role="tabpanel" class="tab-pane tab-pane-wrap" id="tab6">6</div>
				</div>

			</div>
		</section>
	</div>
</section>
<footer class="ft">
	
</footer>
<script src="../resources/js/lib/jquery.js"></script>
<script src="../resources/js/lib/bootstrap.min.js"></script>
<script src="../resources/js/lib/highcharts.js"></script>
<script src="../resources/js/advanced.js"></script>
</body>
</html>