<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>应用分析</title>
	<link rel="stylesheet" href="../resources/css/lib/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/common.css">
	<link rel="stylesheet" href="../resources/css/analysis.css">
</head>
<body>
<!-- 此处header是公用模块，前端没办法提成公用，可以用后台语言提取公用部分 -->
<header class="hd g-clearfix">
	<a class="logo" href="./home.html"></a>
	<a class="nav-btn log-out"><div class="btn-i">注销</div></a>
	<div class="dropdown nav-btn user">
		<div class="btn-i" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img class="avatar" src="../resources/img/avatar.png" alt="" />admin</div>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="./change.html">修改密码</a></li>
	  </ul>
	</div>
	<a class="nav-btn statistics" href="./statistics.html"><div class="btn-i">统计分析</div></a>
	<a class="nav-btn analysis" href="./analysis.html"><div class="btn-i">应用分析</div></a>
</header>
<ol class="breadcrumb">
	<li><a href="./home.html">主页</a></li>
	<li class="active">应用分析</li>
</ol>
<section class="bd">
	<div class="brief">
		<div class="app-img-wrap">
			<img class="app-img" src="../resources/img/aqylogo.png" alt="">
			<p class="app-name">爱奇艺</p>
		</div>
		<div class="app-brief">
			<div class="app-bri-item app-v-wrap">应用版本<span class="app-txt version-txt">1.8.0</span></div>
			<div class="app-bri-item app-s-wrap">应用大小<span class="app-txt size-txt">12.22MB</span></div>
			<div class="app-bri-item app-r-wrap">安全指纹结果</div>
			<div class="app-chart-wrap">
				<div class="s-container">
					<img class="s-con-img" src="../resources/img/bs7.png" alt="">
				</div>
			</div>
		</div>
		<div class="panel panel-default d-auth-l">
			<div class="panel-heading">
				应用权限列表
			</div>
			<div class="panel-body">
				<ul class="d-auth-list">
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
					<li class="d-auth-i">读取短信内容<a href="" class="btn btn-danger">高危</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="detail">
		<section class="det-header g-clearfix">
			<form class="form-inline upload-form">
				<div class="form-group">
					<label for="file-input" class="upload-label">文件上传</label>
					<input type="text" class="form-control" placeholder="添加文件" value="添加文件">
					<input type="file" class="form-control" id="file-input" placeholder="添加文件" value="添加文件">
				</div>
				<button type="submit" class="btn btn-default upload-btn"><i class="upload-icon"></i>上传</button>
			</form>
			<a type="button" href="./record.html" class="btn btn-primary btn-record"><i class="record-icon"></i>手工录入</a>
			<a type="button" class="btn btn-success btn-generate"><i class="generate-icon"></i>生成报告</a>
		</section>
		<section class="det-content">
			<div class="work-flow"></div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			 <!--  <div class="panel panel-default analysis-wrap analysisi-right-wrap">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        
				        <p class="analysis-title g-clearfix">
						应用权限
						<a role="button" class="btn btn-default btn-unfold collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">展开查看</a>
						</p>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <table class="table bd-table">
					  	<thead> 
					  		<tr>
					  			<th>权限名称</th> 
					  			<th>危险程度</th> 
					  			<th>权限描述</th> 
					  		</tr> 
					  	</thead> 
					  	<tbody> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td><button type="button" class="btn btn-danger">危险</button></td> 
					  			<td>读取短信内容</td> 
					  		</tr> 
					  	</tbody>
					</table>
			      </div>
			    </div>
			  </div> -->
			  

			<div class="panel panel-default analysis-wrap analysisi-right-wrap">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        
				        <p class="analysis-title g-clearfix">
						应用漏洞
						<a class="btn btn-default btn-refresh">刷新<i class="fresh-icon"></i></a>
						<a role="button" class="btn btn-default btn-unfold" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">展开查看</a>
						</p>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">

					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="presentation0 active"><a href="#home-second" aria-controls="home-second" role="tab" data-toggle="tab">*功能库漏洞</a></li>
					    <li role="presentation" class="presentation0"><a href="#profile-second" aria-controls="profile-second" role="tab" data-toggle="tab">*非功能库漏洞</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home-second">
					    	<table class="table table-striped bd-table">
						  	<thead> 
						  		<tr>
						  			<th>库名称</th> 
						  			<th>漏洞类型</th> 
						  			<th>漏洞信息</th> 
						  			<th>疑似路径</th> 
						  			<th>是否验证</th>
						  		</tr> 
						  	</thead> 
						  	<tbody> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td><button type="button" class="btn btn-danger">危险</button></td> 
						  			<td>读取短信内容</td> 
						  			<td>root://</td> 
						  			<td>否</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td><button type="button" class="btn btn-danger">危险</button></td> 
						  			<td>读取短信内容</td> 
						  			<td>root://</td> 
						  			<td>否</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td><button type="button" class="btn btn-danger">危险</button></td> 
						  			<td>读取短信内容</td> 
						  			<td>root://</td> 
						  			<td>否</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td><button type="button" class="btn btn-danger">危险</button></td> 
						  			<td>读取短信内容</td> 
						  			<td>root://</td> 
						  			<td>否</td> 
						  		</tr> 
						  	</tbody>
						</table>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="profile-second">...</div>
					    
					  </div>

			    	
			      </div>
			    </div>
			  </div>
			
			
			<div class="panel panel-default analysis-wrap analysisi-right-wrap">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        
				        <p class="analysis-title g-clearfix">
						敏感行为
						<a class="btn btn-default btn-refresh">刷新<i class="fresh-icon"></i></a>
						<a role="button" class="btn btn-default btn-unfold collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">展开查看</a>
						</p>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			       
					<div class="panel panel-default">
					<div class="panel-heading">
					 <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="presentation0 active"><a href="#home-third" aria-controls="home-third" role="tab" data-toggle="tab">*日志信息</a></li>
					    <li role="presentation" class="presentation0"><a href="#profile-third" aria-controls="profile-third" role="tab" data-toggle="tab">*敏感路径</a></li>
					  </ul>

						<!-- <ul class="nav nav-pills">
							<li role="presentation" class="presentation0 active"><a href="#">*日志信息</a></li>
							<li role="presentation" class="presentation0"><a href="#">*敏感路径</a></li>
						</ul> -->
					</div>
					<div class="panel-body">
						<!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home-third">
						<table class="table table-striped bd-table">
						  	<thead> 
						  		<tr>
						  			<th>敏感行为</th> 
						  			<th>日志信息</th> 
						  		</tr> 
						  	</thead> 
						  	<tbody> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td>root://</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td>root://</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td>root://</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td>root://</td> 
						  		</tr> 
						  		<tr> 
						  			<td scope="row">android.READ_SMS</td> 
						  			<td>root://</td> 
						  		</tr> 
						  	</tbody>
						</table>
						</div>
						 <div role="tabpanel" class="tab-pane" id="profile-third">
						 	<img class="path-img" src="../resources/img/d-a.jpg" alt="">
						 </div>
						</div>
					</div>
					</div>
			      </div>
			    </div>
			  </div>
				
			<div class="panel panel-default analysis-wrap analysisi-right-wrap">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
				        <p class="analysis-title g-clearfix">
						泄露信息
						<a class="btn btn-default btn-refresh">刷新<i class="fresh-icon"></i></a>
						<a role="button" class="btn btn-default btn-unfold collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">展开查看</a>
						</p>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			        <table class="table bd-table">
					  	<thead> 
					  		<tr>
					  			<th>危险操作详情</th> 
					  			<th>危险操作名称</th> 
					  			<th>触发类型</th> 
					  			<th>发送地址</th> 
					  			<th>证据</th> 
					  			<th>泄露路径</th> 
					  			<th>泄露触发类型</th> 
					  		</tr> 
					  	</thead> 
					  	<tbody> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td>国际移动装备辨识码</td> 
					  			<td>xxxxx</td> 
					  			<td>xxxx</td> 
					  			<td>网路外发</td> 
					  			<td>http://xxxx</td> 
					  			<td>xx类型</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td>国际移动装备辨识码</td> 
					  			<td>xxxxx</td> 
					  			<td>xxxx</td> 
					  			<td>网路外发</td> 
					  			<td>http://xxxx</td> 
					  			<td>xx类型</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td>国际移动装备辨识码</td> 
					  			<td>xxxxx</td> 
					  			<td>xxxx</td> 
					  			<td>网路外发</td> 
					  			<td>http://xxxx</td> 
					  			<td>xx类型</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td>国际移动装备辨识码</td> 
					  			<td>xxxxx</td> 
					  			<td>xxxx</td> 
					  			<td>网路外发</td> 
					  			<td>http://xxxx</td> 
					  			<td>xx类型</td> 
					  		</tr> 
					  		<tr> 
					  			<td scope="row">android.permission.READ_SMS</td> 
					  			<td>国际移动装备辨识码</td> 
					  			<td>xxxxx</td> 
					  			<td>xxxx</td> 
					  			<td>网路外发</td> 
					  			<td>http://xxxx</td> 
					  			<td>xx类型</td> 
					  		</tr> 
					  		
					  	</tbody>
					</table>
			      </div>
			    </div>
			  </div>
				

			<div class="panel panel-default analysis-wrap analysisi-right-wrap">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        
				        <p class="analysis-title g-clearfix">
						大数据分析
						<a class="btn btn-default btn-refresh">刷新<i class="fresh-icon"></i></a>
						<a role="button" class="btn btn-default btn-unfold collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">展开查看</a>
						</p>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			       	<img class="d-a-img" src="../resources/img/d-a.jpg" alt=""> 
			      </div>
			    </div>
			  </div>

			
		</section>
	</div>
</section>
<footer class="ft">
	
</footer>
<script src="../resources/js/lib/jquery.js"></script>
<script src="../resources/js/lib/bootstrap.min.js"></script>
<script src="../resources/js/lib/highcharts.js"></script>
<script src="../resources/js/analysis.js"></script>
</body>
</html>