<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
	<link rel="stylesheet" href="../resources/css/lib/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/common.css">
	<link rel="stylesheet" href="../resources/css/change.css">
</head>
<body class="common-bg">
	<!-- 此处header是公用模块，前端没办法提成公用，可以用后台语言提取公用部分 -->
	<header class="hd g-clearfix">
		<a class="logo" href="./home.html"></a>
		<a class="nav-btn log-out"><div class="btn-i">注销</div></a>
		<div class="dropdown nav-btn user">
			<div class="btn-i" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img class="avatar" src="../resources/img/avatar.png" alt="" />admin</div>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="./change.html">修改密码</a></li>
		  </ul>
		</div>
		<a class="nav-btn statistics" href="./statistics.html"><div class="btn-i">统计分析</div></a>
		<a class="nav-btn analysis" href="./analysis.html"><div class="btn-i">应用分析</div></a>
	</header>
	<div class="change-wrap form-wrap">
		<div class="panel panel-default">
		  <div class="panel-heading">修改密码</div>
		  <div class="panel-body">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputCruPass" class="col-sm-3 control-label">当前密码:</label>
				    <div class="col-sm-9">
				      <input type="email" class="form-control" id="inputCruPass" placeholder="当前密码">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword" class="col-sm-3 control-label">新密码:</label>
				    <div class="col-sm-9">
				      <input type="password" class="form-control" id="inputPassword" placeholder="新密码">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputEnsurePass" class="col-sm-3 control-label">确认密码:</label>
				    <div class="col-sm-9">
				      <input type="password" class="form-control" id="inputEnsurePass" placeholder="确认密码">
				    </div>
				  </div>
				  <div class="form-group img-code-wrap">
				    <label for="inputCode" class="col-sm-3 control-label">验证码:</label>
				    <div class="col-sm-4 form-control-w">
				      <input type="text" class="form-control" id="inputCode" placeholder="验证码">
				    </div>
				    <div class="col-sm-5">
				      <img src="../resources/img/code-img.jpg" alt="" class="code-img">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <div class="col-sm-12">
				      <button type="submit" class="btn btn-primary btn-submit-b btn-register">确认修改密码</button>
				    </div>
				  </div>
				</form>
		  </div>
		</div>
		
	</div>
</body>
</html>