<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>录入</title>
	<link rel="stylesheet" href="../resources/css/lib/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/common.css">
	<link rel="stylesheet" href="../resources/css/record.css">
</head>
<body>
<!-- 此处header是公用模块，前端没办法提成公用，可以用后台语言提取公用部分 -->
<header class="hd g-clearfix">
	<a class="logo" href="./home.html"></a>
	<a class="nav-btn log-out"><div class="btn-i">注销</div></a>
	<a class="nav-btn user"><div class="btn-i"><img class="avatar" src="../resources/img/avatar.png" alt="" />admin</div></a>
	<a class="nav-btn statistics" href="./statistics.html"><div class="btn-i">统计分析</div></a>
	<a class="nav-btn analysis" href="./analysis.html"><div class="btn-i">应用分析</div></a>
</header>
<ol class="breadcrumb">
	<li><a href="./home.html">主页</a></li>
	<li class="active">软件漏洞分析</li>
	<li class="active">安卓应用分析</li>
	<li class="active">分析详情</li>
</ol>
<section class="bd">
	<div class="brief">
		<div class="app-img-wrap">
			<img class="app-img" src="../resources/img/aqylogo.png" alt="">
			<p class="app-name">爱奇艺</p>
		</div>
		<div class="app-brief">
			<div class="app-bri-item app-v-wrap">应用版本<span class="app-txt version-txt">1.8.0</span></div>
			<div class="app-bri-item app-s-wrap">应用大小<span class="app-txt size-txt">12.22MB</span></div>
			<div class="app-bri-item app-r-wrap">安全指纹结果</div>
			<div class="app-chart-wrap">
				<div class="s-container">
					<img class="s-con-img" src="../resources/img/bs7.png" alt="">
				</div>
			</div>
		</div>
		<div class="panel panel-default d-auth-l">
			<div class="panel-heading">
				应用权限列表
			</div>
			<div class="panel-body">
				<ul class="d-auth-list">
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
					<li class="d-auth-i">读取短信内容</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="detail">
		<div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">*不良内容</a></li>
			<li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">*数据存储安全</a></li>
			<li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">*数据运行安全</a></li>
			<li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">*数据传输安全</a></li>
			<li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">*敏感行为</a></li>
			<li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">*漏洞扫描</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">
			<div class="pro-list g-clearfix">
				<table class="table table-striped bd-table">
				  	<thead> 
				  		<tr>
				  			<th>序号</th> 
				  			<th>问题概要</th> 
				  			<th>问题描述</th> 
				  			<th>证据截图</th> 
				  			<th>危害等级</th> 
				  		</tr> 
				  	</thead> 
				  	<tbody> 
				  		<tr> 
				  			<td scope="row">1</td> 
				  			<td>淫秽色情</td> 
				  			<td>淫秽色情淫秽色情淫秽色情淫秽色情淫秽色情</td> 
				  			<td><img src="" alt=""></td> 
				  			<td>
				  				<button type="submit" class="btn btn-danger">高危</button>
				  			</td> 
				  		</tr> 
				  		
				  	</tbody>
				</table>
				<select name="" id="" class="s-d-l">
					<option value="选择危害等级">选择危害等级</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
				<a type="submit" class="btn btn-bottom btn-primary btn-score"><i></i>综合评分</a>

				<button type="submit" class="btn btn-bottom btn-success">√&nbsp;&nbsp;分析完毕</button>
				<a type="submit" href="./record-info.html" class="btn btn-bottom btn-primary">+&nbsp;&nbsp;添加信息</a>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab2">...</div>
		<div role="tabpanel" class="tab-pane" id="tab3">...</div>
		<div role="tabpanel" class="tab-pane" id="tab4">...</div>
		</div>

		</div>
	</div>
</section>
<footer class="ft">
	
</footer>
<script src="../resources/js/lib/jquery.js"></script>
<script src="../resources/js/lib/bootstrap.min.js"></script>
<script src="../resources/js/lib/highcharts.js"></script>
<script src="../resources/js/record.js"></script>
</body>
</html>