<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="../resources/css/lib/bootstrap.css">
	<link rel="stylesheet" href="../resources/css/common.css">
	<link rel="stylesheet" href="../resources/css/register.css">
</head>
<body class="common-bg">
	<header class="hd g-clearfix">
		<a class="logo" href="./home.html"></a>
		<!-- <a class="nav-btn log-out"><div class="btn-i">注销</div></a> -->
		<!-- <a class="nav-btn user"><div class="btn-i"><img class="avatar" src="../resources/img/avatar.png" alt="" />admin</div></a>
		<a class="nav-btn statistics" href="./statistics.html"><div class="btn-i">统计分析</div></a>
		<a class="nav-btn analysis" href="#"><div class="btn-i">应用分析</div></a> -->
	</header>
	<div class="register-wrap">
		<div class="panel panel-default">
		  <div class="panel-heading"><h4>欢迎加入</h4></div>
		  <div class="panel-body">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="邮箱">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPhone3" class="col-sm-2 control-label">手机号:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="inputPhone3" placeholder="手机号">
				    </div>
				  </div>
				  <div class="form-group s-code-wrap">
				    <label for="inputPhone3" class="col-sm-3 control-label">手机验证码:</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="inputPhone3" placeholder="手机验证码">
				      <button type="button" class="btn btn-default">点击获取</button>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPhone3" class="col-sm-3 control-label">验证码:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="inputPhone3" placeholder="验证码">
				    </div>
				    <div class="col-sm-3">
				      <img src="" alt="">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <div class="col-sm-12">
				      <button type="submit" class="btn btn-default btn-register">注册</button>
				    </div>
				  </div>
				  <div>
				  	<a href="" class="have-account">已有账号，直接登录></a>
				  </div>
				</form>
		  </div>
		</div>
		
	</div>
</body>
</html>