.bd{
	margin: 10px 20px;
	display: flex;
	align-items: stretch;
	/*height: 670px;*/
}
.brief{
	width: 220px;
	/*height: 100%;*/
	margin-right: 8px;
	background: #dde6ec;
}
.detail{
	flex: 1;
	height: 100%;
}
.breadcrumb{
	margin: 0;
	padding: 18px 20px 0;
	background: #dde6ec;
}
.det-header{
	margin-bottom: 6px;
	background: #eff2f4;
}
.det-content{
	margin-top: 8px;
	background: #f3f4f4;
}
.app-img-wrap{
	width: 100%;
	height: 164px;
	background: #eff2f4;
	padding: 26px 60px 0;
}
.app-img{
	width: 100px;
	height: 100px;
}
.app-name{
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding-top: 8px;
}
.app-brief{
	padding: 0 14px;
	background: #fff;
	height: 222px;
	overflow: hidden;
}
.app-bri-item{
	color: #999;
	padding: 12px 0 0;
	font-size: 14px;
}
.app-txt{
	font-weight: bold;
	padding-left: 6px;
	color: #000;
}
.app-chart-wrap{
	
}
#container{
	height: 180px;
	width: 180px;
}


.d-auth-l{
	border: none;
	margin-top: 9px;
}
.d-auth-l .panel-body{
	height: 140px;
	overflow: scroll;
}
.d-auth-l .panel-heading{
	border-top: 3px solid #e60012;
	border-bottom: 0;
	background: #eff2f4;
	color: #e60012;
	text-align: center;
}
.d-auth-list{
	padding: 0;
	margin: 0;
	padding-left: 20px;
}
.d-auth-i{
	height: 30px;
	line-height: 30px;
	list-style: disc;
}
.det-header{
	display: flex;
	background: #dde6ec;
}
.h-wrap{
	height: 174px;
	flex: 1;
	background: #fff;
}
.h-wrap h5{
	text-align: center;
}
.bug-i-wrap{
	margin-right: 8px;
}
.problem-i-wrap{
	margin-left: 8px;
}
.nav-head{
	height: 52px;
	margin: 8px 20px;
	background: #eff2f4;
}
.nav-head > li > a{
	/*height: 52px;
	line-height: 30px;*/
}
.tab-pane-wrap{
	display: flex;
}
.tab-pane-s{
	height: 340px;
	background: #fff;
}
.tab-pane-wrap.active{
	display: flex;
}
.tab-pane-wrap{
	background: #f3f4f4;
}
.pro-pie-wrap{
	width: 314px;
	margin-right: 16px;
}
.det-content .nav-head{
	margin: 8px 0 15px;
	background: #faf9fa;
	height: 40px;
}
.det-content .nav-head > li > a{
	height: 40px;
}
.all-pro-tabs{
	flex: 1;
}

.adv-nav li.active  a, .adv-nav li.active a:hover, .adv-nav li.active a:focus{
	border: 0;
	color: #375dd1!important;
	border-bottom: 3px solid #375dd1!important;
}
.h-img-list{
	padding-left: 22px;
	margin-top: 20px;
}
.h-img-list .img-item{
	width: 110px;
	height: 110px;
	padding-top: 73px;
	float: left;
	margin-right: 32px;
	border: 1px solid #dd6770;
	border-radius: 2px;
	background: url(../img/bug-3.png) no-repeat;
	background-size: contain;
	text-align: center;
	line-height: 35px;
}
.h-img-list .img-item:nth-of-type(2){
	border: 1px solid #e8a768;
	background: url(../img/bug-2.png) no-repeat;
	background-size: contain;
}
.h-img-list .img-item:nth-of-type(3){
	border: 1px solid #f8cc34;
	background: url(../img/bug-1.png) no-repeat;
	background-size: contain;
}
.problem-i-wrap .img-item{
	background: url(../img/problem-3.png) no-repeat;
	background-size: contain;
}
.problem-i-wrap .img-item:nth-of-type(2){
	background: url(../img/problem-2.png) no-repeat;
	background-size: contain;
}
.problem-i-wrap .img-item:nth-of-type(3){
	background: url(../img/problem-1.png) no-repeat;
	background-size: contain;
}
