
.have-account{
	float: right;
}
.s-code-wrap .form-control{
	vertical-align: middle;
	display: inline-block;
	width: 190px;
}
.s-code-wrap .col-sm-9{
	/*margin: 0 15px;
	padding: 0;*/
}
.s-code-wrap .control-label{
	text-align: left;
}

.btn-text{
	background: #fff;
}
.get-code-btn{
	background: #3981e1;
}
.code-img{
	height: 38px;
}
.img-code-wrap .form-control-w{
	padding-right: 0!important;
}